
.contactButton, .active {
    background: #197cdd;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 1px 1px #b4b4b4;
}
.logo:focus{
    text-decoration: none
}
.mat-drawer{
  position: relative;
}
.menu{
  position: fixed;
  right: 15px;
  top: 8px;
  border: 1px solid red;
  width: 30px;
  height: 50px;
  display: block;
}
.mat-drawer.mat-drawer-side {
  z-index: 999999;
  position: fixed;
  width: 77%;
  background: #fffffff2;
}
.bar1, .bar2, .bar3 {
  width: 31px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  display: block;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
