<div class="contentArea">
    <div class="container">
        <!--<h3>UI Designer Group</h3>-->
            <h5 class="text-center"> You can mail us at  <a href="mailto:bhupinder3kumar@gmail.com?Subject=Hello%20again" target="_top">bhupinder3kumar@gmail.com</a> or fill your info we will contact
                with you ASAP
            </h5>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScB7MdbV0-ft2yFQGDuLMM8TZZgUiRzf0CTw9ZjOR_9M7DyZw/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
</div>
