<div class="contentArea">
    <div class="container">

        <h3>UI Designer Group</h3>
        <p>
            UI Group is a cooperative effort led by a group of freelance designers, writers, and developers. We work
            across teams to create content and produce events that showcase ui design work and champion innovators in
            our field.
        </p>
        <p>Do you have a project, event, or cause you think we should sponsor? Just want to get in touch? Email us at
            <a href="#">design@google.com.</a></p>
    </div>
</div>