<div class="contentArea">
    <div class="container">
<div class="col-md-12 text-center">
        <h4>We design brand, digital experience that engage the right customers.</h4>
            <!--<p>UI Group is a cooperative effort led by a group of freelance designers, writers, and developers. We work-->
            <!--across teams to create content and produce events that showcase ui design work and champion innovators in-->
            <!--our field.</p>-->

        <!--<p>Do you have a project, event, or cause you think we should sponsor? Just want to get in touch? Email us at-->
            <!--<button class="contactButton" color="primary" mat-button>Hire us</button>-->
        <!--</p>-->
    </div>

      <div class="container">

        <div class="at-grid col-xs-12" data-column="3">
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="../../assets/bhuw.jpg"/></div>
              <div class="at-user__name">Bhuwnesh Sharma</div>
              <div class="at-user__title">Marketing Head</div>

            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="../../assets/bhupinder.jpg"/></div>
              <div class="at-user__name">Bhupinder Kumar</div>
              <div class="at-user__title">UX/UI Designer</div>

            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="../../assets/nish.jpg"/></div>
              <div class="at-user__name">Nisha Salhan</div>
              <div class="at-user__title">Developer</div>

            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg"/></div>
              <div class="at-user__name">Mitch Petty</div>
              <div class="at-user__title">Lead Developer</div>

            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"/></div>
              <div class="at-user__name">Philip Satemburgo</div>
              <div class="at-user__title">Product owner</div>

            </div>
          </div>


      </div>

    </div>
</div>
