

.home-blog .col-lg-12 {
    margin: 10px 0
}

.home-blog {
}

.home-blog p {
    font-size: 1em;
    margin: 6px 0;
}

.home-blog img {
    max-width: 100%;
    border-radius: 100%
}
.pageContent{
    min-height: 400px;
}
