h3{
    background: url("../../assets/design-group.jpg") center no-repeat;
    min-height: 300px;
    background-size: cover;
    font-size: 3em;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 0;

}


.service_section {
    text-align: center;
}

.service_section h2 {
    font-size: 3em;
    margin: 50px 0;
}

.service_section p {
    color: #666;
    font-size: 1em;
    line-height: 1.6;

}

.service_section .col-lg-4 {
    margin: 50px 0
}

.service_section svg {
    width: 60px;
    margin: 10px 0 0;
}